* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: rgb(60, 192, 193);
  background: linear-gradient(
    261deg,
    rgb(148 234 235 / 70%) 5%,
    rgba(39, 237, 245, 0.9416141456582633) 60%,
    rgba(130, 232, 236, 1) 93%
  );
}

/* container-strt */

/* nav-strt */
.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 30px;
  margin-top: 8px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  width: 60px;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

ul a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

@media (800px >= width) {
  ul {
    display: none;
  }
  section {
    font-size: 20px;
    order: -2;
    display: flex;
    align-items: center;
  }
  .logo {
    width: 50px;
  }

  .container {
    padding: 10px 10px;
  }

  .btn1 {
    font-size:xx-small
  }
}

@media (800px <= width) {
  .container section {
    display: none;
  }
}

.btn1,
.btn2 {
  color: white;
  text-decoration: none;
  border: 1px solid rgba(245, 143, 39, 1) 100%;
  background: rgb(255, 211, 143);
  background: linear-gradient(
    286deg,
    rgb(231, 183, 110) 0%,
    rgba(245, 143, 39, 1) 100%
  );
  padding: 10px 20px;
  border-radius: 30px;
  align-items: center;
}

/* nav-end */

.main-contain {
  max-width: 1200px;
  margin: auto;
  padding: 20px 4px 20px 10px;
}

/* container-end */

/* para-content srt */

.para-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .para-container {
    flex-wrap: wrap;
  }
}

.content {
  margin-top: 50px;
  width: 30%;
}

@media (max-width: 500px) {
  .content {
    flex-wrap: wrap;
    width: 800px;
    margin-bottom: 50px;
    justify-content: center;
  }
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 50px;
  word-spacing: 5px;
}

.picture {
  object-fit: cover;
}

/* para-container-end */
